* {
	margin: 0;
	padding: 0;
	color: #fff;
}
body {
	background: url(img/background.png);
	background-size: cover;
	height: 100vh;
	font-family: 'Roboco', sans-serif;
	font-weight: bold;
}
.level {
	padding: 4em 0 0 4em;
}
.level__title {
	font-size: 57px;
}
.level__subtitle {
	font-size: 19px;
}
.level__selector {
	margin-top: 3em;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	max-width: 300px;
}
.level__easy,
.level__medium,
.level__hard {
	display: inline-block;
	font-size: 50px;
	margin-top: 2rem;
	margin-left: 20px;
	cursor: pointer;
}
.level__active_svg {
	fill:none;
}
.level__check {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-transition: all ease .2s;
	-o-transition: all ease .2s;
	transition: all ease .2s;
}
.level__svg {
	margin-right: 15px;
}
.level__checked rect {
	fill: #D62B2E;
}
.level__check:hover rect {
	fill: #D62B2E;
}
.level__check:hover .level__text {
	opacity: .8;
}
.level__check:hover {
	-webkit-transform: scale(1.035);
	    -ms-transform: scale(1.035);
	        transform: scale(1.035);
}
.level__cards {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	padding-right: 150px;
}
.level__cards_left {
	-webkit-transform: rotate(11.9deg);
	    -ms-transform: rotate(11.9deg);
	        transform: rotate(11.9deg);
}
.level__cards_right {
	-webkit-transform: rotate(39.26deg);
	    -ms-transform: rotate(39.26deg);
	        transform: rotate(39.26deg);
}
.level__btn {
	font-family: 'Roboco', sans-serif;
	font-size: 32px;
	width: 352px;
	height: 95px;
	background: #D62B2E;
	border-radius: 7px;
	cursor: pointer;
	border: 1px solid #fff;
}
.level__btn:hover {
	background: red;
	border-radius: 7px;
}
.level__btn:active {
	-webkit-transition: all ease .5s;
	-o-transition: all ease .5s;
	transition: all ease .5s;
	-webkit-transform: scale(0.95);
	    -ms-transform: scale(0.95);
	        transform: scale(0.95);
	border: none;
	-webkit-box-shadow: 0px 0px 2px 5px black;
	        box-shadow: 0px 0px 2px 5px black;
}
.hiden {
	display: none;
}
.nonOpacity {
	opacity: 0;
	-webkit-transition: all ease 1s;
	-o-transition: all ease 1s;
	transition: all ease 1s;
}
#card_area {
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	position: absolute;
	width: 100%;
	top: 50%;
	-webkit-transform: translateY(-50%);
	    -ms-transform: translateY(-50%);
	        transform: translateY(-50%);
	text-align: center;
	-webkit-animation: 	opac ease 1.5s;
	        animation: 	opac ease 1.5s
}
.flip-card {
	display: inline-block;
  	background-color: transparent;
	width: 214px;
    height: 336px;
    -webkit-perspective: 1000px;
            perspective: 1000px;
  	margin-right: 24px;
 	margin-bottom: 24px;
}
img {
	width: 218px;
	height: 341px;
}
.flip-card-inner {
    position: relative;
  	width: 100%;
	height: 100%;
	text-align: center;
	-webkit-transition: -webkit-transform 0.8s;
	transition: -webkit-transform 0.8s;
	-o-transition: transform 0.8s;
	transition: transform 0.8s;
	transition: transform 0.8s, -webkit-transform 0.8s;
	-webkit-transform-style: preserve-3d;
	        transform-style: preserve-3d;
}
.active {
 	-webkit-transform: rotateY(180deg);
 	        transform: rotateY(180deg);
}
.flip-card-front, .flip-card-back {
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-backface-visibility: hidden;
	        backface-visibility: hidden;
}
.flip-card-front {
	background-color: transparent;
	color: black;
	-webkit-transition: -webkit-transform .9s ease;
	transition: -webkit-transform .9s ease;
	-o-transition: transform .9s ease;
	transition: transform .9s ease;
	transition: transform .9s ease, -webkit-transform .9s ease
}
.flip-card-back {
	background: url(img/cardback.png);
	color: white;
	-webkit-transform: rotateY(180deg);
	        transform: rotateY(180deg);
}
.bag {
	background: url(img/cardbag.png);
	color: white;
	-webkit-transform: rotateY(180deg);
	        transform: rotateY(180deg);
}
.flip-card-front:hover {
	cursor: pointer;
	-webkit-transform: translateY(-5%) rotate(-3.08deg);
	    -ms-transform: translateY(-5%) rotate(-3.08deg);
	        transform: translateY(-5%) rotate(-3.08deg);
	-webkit-box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5);
	        box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5);
}

.flip-card-front_over:hover {
	cursor: pointer;
	-webkit-transform: translateY(0) rotate(0);
	    -ms-transform: translateY(0) rotate(0);
	        transform: translateY(0) rotate(0);
	        -webkit-box-shadow: none;
	        box-shadow: none;
}
.flip-card-back:hover {
	cursor: pointer;
}
.flip-card, .flip-card, .flip-card-back,
img[src="img/cartback.svg"], .flip-card-inner, .flip-card-front {
	border-radius: 15px;
}


@-webkit-keyframes opac {
	from{
		opacity: 0;
	}
	to{
		opacity: 1;
	}
}

@keyframes opac {
	from{
		opacity: 0;
	}
	to{
		opacity: 1;
	}
}


@media (max-width: 1200px) {
	.level__logo > img {
		width: 20vw;
		height: auto;
	}
	.level__cards {
		padding-right: 100px;
	}
	.flip-card, .flip-card, .flip-card-back, img[src="img/cartback.svg"] {
    	width: 120px;
    	height: 186px;
    	background-size: contain;
	}
}
@media (max-width: 960px) {
	.level__logo > img {
		width: 15vw;
	}
	.level__title {
    	margin-bottom: 20px;
	}
	.level__subtitle {
    	padding-right: 55px;
	}
}
@media (max-width: 800px) {
	.level__selector {
    	margin-bottom: 3em;
	}
	.level__cards{
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		padding-right: 0;
	}
	.flip-card-front:hover {
	cursor: pointer;
	-webkit-transform: translateY(-5%) rotate(-3.08deg);
	    -ms-transform: translateY(-5%) rotate(-3.08deg);
	        transform: translateY(-5%) rotate(-3.08deg);
	-webkit-box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.5);
	        box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.5);
	}
	.level__btn{
		margin-bottom: 40px;
	}
	.level__selector{
		margin: 2em auto;
	}
	.level__logo {
		padding-right: 20px;
	}
	.level {
    	padding: 1em 1em 0 1em;
	}
	.level__selector > div {
		margin-left: 0;
	}
	.flip-card, .flip-card, .flip-card-back, img[src="img/cartback.svg"] {
    	width: 100px;
    	height: 155px;
    	background-size: contain;
	}
	.flip-card {
		margin: 15px;
	}
}
@media (max-width: 420px) {
	.level__title {
    	font-size: 45px;
	}
	.level__selector {
    	margin: 30px auto;
    }
    .level__selector > div {
    	font-size: 35px;
    }
    .level__btn {
    	width: 90%;
    	margin-bottom: 0;
    }
    .level__logo {
    	display: none;
    }
    .level__cards {
    	height: 100px;
    }
    .level__subtitle {
    	padding: 0;
    }
    .level__easy, .level__medium, .level__hard {
		margin-top: 2rem;
    }
    .flip-card, .flip-card, .flip-card-back, img[src="img/cartback.svg"] {
    	width: 80px;
    	height: 124px;
	}
	.flip-card, .flip-card, .flip-card-back,
	img[src="img/cartback.svg"], .flip-card-inner, .flip-card-front {
    	border-radius: 8px;
	}
}
@media (max-width: 320px) {
	.level__selector {
    	margin: 0 auto 25px auto;
	}
	.level__btn {
    	margin-bottom: 0;
	}
	.level__title {
   		font-size: 40px;
   		margin-bottom: 10px;
	}
	.level__subtitle {
    	font-size: 15px;
	}
}
@media (max-width: 340px) {
	.flip-card, .flip-card, .flip-card-back, img[src="img/cartback.svg"] {
    	width: 60px;
    	height: 93px;
	}
}
@media (max-height: 770px) {
	.level {
		padding: 1em 0 0 1em;
	}
}